header.solid{
    border-style: solid;
}

#titre{
    color: red;
}

.flex-container{
    display: flex;
}

.flex-container > div{
    margin: 30px;
    padding: 10px
}

a {
    text-decoration: none;
    color: black;
}

img{
    max-width: 650px;
    height: auto;
}

h1{
    text-align: center;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}